.git
.github
.idea
.vscode
.venv
.mypy_cache
node_modules
assets/bower_components

config/mariadb
jenkins
repository
xml

application/cache/*
!application/cache/index.html
application/logs/*
!application/logs/index.html

*.log
*.tmp
*.xlsx
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*