CI_ENV=production

JOBSEEKER_HTTP_PORT=80
JOBSEEKER_DB_PORT=3306
JOBSEEKER_DB_USER=mysql
JOBSEEKER_DB_PASSWORD=mysql
JOBSEEKER_DB_NAME=jobseeker
JOBSEEKER_MYSQL_ROOT_PASSWORD=root
JOBSEEKER_ENCRYPTION_KEY=replace-with-a-long-random-secret
JOBSEEKER_COOKIE_SECURE=false
JOBSEEKER_HOST_UID=1000
JOBSEEKER_HOST_GID=1000

JENKINS_HTTP_PORT=8080
JENKINS_AGENT_PORT=50000
JENKINS_ADMIN_ID=jobseeker
JENKINS_ADMIN_PASSWORD=jobseeker
JENKINS_NUM_EXECUTORS=5