.htaccess/
.env
.env.connectors
node_modules/
assets/bower_components/
assets/plugins/
repository/
json/result.json
talend.sql
old/cias.sql
.htaccess
repository/Talend/input/jobInfo.xlsx
repository/Talend/output/jobInfo.json
*.xlsx
json/result.json
application/cache/job_creation_dates.json
application/cache/*.json
application/cache/dashboard_overview_*
application/cache/job_schedules
application/cache/docker_monitor_storage
application/cache/promotion_rollbacks/
repository/Talend/input/jobInfo.xlsx
xml/
config/*
jenkins/*
application/cache/promotion_history/
__pycache__/
